{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

<div class="narrow">
	<h1>{% trans "Account inactive" %}</h1>
    <p>{% blocktrans %}We have created your account. You should have received an email or a text to verify your account.</p><p> To verify your email address, click on the verification link sent to your email address.</p><p>To verify your phone number, enter the token sent to your phone number.</p>
    <p>Click <a href="">here</a> If	you do not recieve any email or text.{% endblocktrans%}</p>
	</div>

{% endblock %}
